*{
    font-family: 'Times New Roman', Times, serif;
}
.head{
    display: flex;
    justify-content: space-around ;
}
/* .head{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display:inline-flex;
    margin: 5%;     
}

ul {
    display: flex;
    text-align:center;
    
}
ul > li{
    
    padding-right:10%;
    padding-left: 10%;
    list-style: none;
    
}
.button{
   justify-content: flex-end;
} */
ul {
    display: flex;
    text-align:center;
    
} 
ul>li{
    padding-right:10%;
    padding-left: -20%;
    list-style: none;
 }
.section > img{
    display: flex;
    padding: 5%;
    justify-content: center;
    border-radius: 50%;
    max-width: 60%;
    height: auto;
    
 }
 .para{
    border: 1px solid black;
    
 }
 .card{
    padding-top: 40px;
    text-align: center;
   
 }
 .inner >p {
    border: 1px solid black;
    text-align:left;
 }
 .doCard{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
 }
 .doCardChild{
    background-color: rgb(238, 255, 0);
    width: full;
    height: 230px;
    border-radius: 14px;
 }
 .project{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
 }
 .proChild{
    
    border: 4px solid rgb(219, 4, 4);
    width: full;
    height: 400px;
    border-radius: 18px;
    
 } 
 .proChild > img{
    max-width: 100%;
    border-radius:13px ;
    
    object-fit:contain;
 }
 .exChild{
    display: grid;
    background-color: #85e272;
    border: 3px solid black;
    width: full;
    height: 250px;
    border-radius: 18px;
    margin: 5px;
    text-emphasis-color: aliceblue;
    

 }
 .edChild{
    display: grid;
    background-color: #b98ff0;
    border: 3px solid black;
    width: full;
    height: 250px;
    border-radius: 18px;
    margin: 5px;
    text-emphasis-color: aliceblue;
    
 }